* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #212428;
  color: #fff;
  position: relative;
  height: 2000px;
}

.up_top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #212428;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  color: #fff;
  position: fixed;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
  display: none;
  text-align: center;
  padding: 10px;
}

.menu_mobil {
  width: 350px;
  max-width: 100%;
  height: 100vh;
  background-color: #212529;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
          box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  overflow: auto;
  display: none;
  position: fixed;
  top: 0;
  z-index: 2000;
}

.menu_mobil.menu_open {
  display: block;
}

.menu_mobil .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.menu_mobil .menu-header::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  border: 1px solid red;
}

.menu_mobil .menu-header .logo-menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_mobil .menu-header .logo-menu_btn .logo_img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_mobil .menu-header .logo-menu_btn .logo_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
}

.menu_mobil .menu-header .logo-menu_btn .logo_img .log-title {
  display: inline-block;
  font-size: 20px;
  margin: 30px 9px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.menu_mobil .menu-header .logo-menu_btn .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 10px;
}

.menu_mobil .menu-header .logo-menu_btn .close .close_btn {
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.menu_mobil .menu-header .desc-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #ff014f;
}

.menu_mobil .menu-nave {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
}

.menu_mobil .menu-nave::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  border: 0.5px solid #ff014f;
}

.menu_mobil .menu-nave .link_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 30px;
}

.menu_mobil .menu-nave .link_menu li {
  list-style: none;
  margin: 15px;
}

.menu_mobil .menu-nave .link_menu li:hover a::before {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  border: 0.5px solid #ff014f;
}

.menu_mobil .menu-nave .link_menu li a {
  display: block;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c4cfde;
  text-transform: uppercase;
  position: relative;
}

.menu_mobil .footer-menu {
  height: 30%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu_mobil .footer-menu P {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-align: center;
}

.menu_mobil .footer-menu a {
  text-decoration: none;
}

.menu_mobil .footer-menu .icon {
  display: inline-block;
  font-size: 20px;
  background-color: #333;
  -webkit-box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
          box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  margin-right: 20px;
  border-radius: 5px;
  padding: 2px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.menu_mobil .footer-menu .icon:hover {
  background-color: #fff;
}

.skill_html, .skill_sass, .skill_BS {
  padding: 44px 7px 20px;
  text-align: center;
  font-size: 20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill_html .title_skill, .skill_sass .title_skill, .skill_BS .title_skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill_html .title_skill h2, .skill_sass .title_skill h2, .skill_BS .title_skill h2 {
  color: #7e848f;
  font-size: 31px;
  margin-top: -27px;
  margin-left: 15px;
  text-transform: uppercase;
}

.skill_html .title_skill p, .skill_sass .title_skill p, .skill_BS .title_skill p {
  display: inline-block;
  font-size: 33px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c90a45;
  margin-top: -30px;
}

.skill_html .circuler, .skill_sass .circuler, .skill_BS .circuler {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding-top: -20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  border-radius: 100%;
}

.skill_html .circuler .inner, .skill_sass .circuler .inner, .skill_BS .circuler .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 100%;
  margin: -40px 0 0 -40px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.skill_html .circuler .inner .num, .skill_sass .circuler .inner .num, .skill_BS .circuler .inner .num,
.skill_html .circuler .inner .num1,
.skill_sass .circuler .inner .num1,
.skill_BS .circuler .inner .num1,
.skill_html .circuler .inner .num2,
.skill_sass .circuler .inner .num2,
.skill_BS .circuler .inner .num2,
.skill_html .circuler .inner .num3,
.skill_sass .circuler .inner .num3,
.skill_BS .circuler .inner .num3,
.skill_html .circuler .inner .num4,
.skill_sass .circuler .inner .num4,
.skill_BS .circuler .inner .num4,
.skill_html .circuler .inner .num5,
.skill_sass .circuler .inner .num5,
.skill_BS .circuler .inner .num5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  color: #ff014f;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.skill_html .circuler .bar, .skill_sass .circuler .bar, .skill_BS .circuler .bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  clip: rect(0, 100px, 100px, 50px);
}

.skill_html .circuler .bar .progress, .skill_sass .circuler .bar .progress, .skill_BS .circuler .bar .progress {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background-color: #ff014f;
}

.skill_html .circuler .left .progress, .skill_sass .circuler .left .progress, .skill_BS .circuler .left .progress {
  z-index: 3;
  -webkit-animation: left 3.7s linear both;
          animation: left 3.7s linear both;
}

.skill_html .circuler .right, .skill_sass .circuler .right, .skill_BS .circuler .right {
  z-index: 1;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.skill_html .circuler .right .progress, .skill_sass .circuler .right .progress, .skill_BS .circuler .right .progress {
  -webkit-animation: right 3.7s linear both;
          animation: right 3.7s linear both;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0px;
  height: 80px;
  padding: 0;
  -webkit-box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
          box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background-color: #212428;
}

@media (max-width: 767px) {
  header {
    padding: 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding: 0 30px;
  }
}

header .header-container {
  width: 1200px;
  max-width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

header .header-container .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  header .header-container .header_left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .header-container .header_left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

header .header-container .header_left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .header_left .logo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

header .header-container .header_left .logo span {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-left: 9px;
}

header img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

header .header_nave {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 767px) {
  header .header_nave {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .header_nave {
    display: none;
  }
}

header .header_nave .navbar {
  width: 100%;
  height: 80px;
}

header .header_nave .navbar .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

header .header_nave .navbar .nav .nav-item {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 20px;
}

header .header_nave .navbar .nav .nav-item .nav-link {
  color: #c4cfde;
  font-family: "Poppins", sans-serif;
  margin: 10px 5px;
}

header .header_nave .navbar .nav .nav-item .nav-link.active {
  color: #fff;
}

header .header_nave .navbar .nav .nav-item .nav-link:hover {
  color: #fff;
}

header .toggle_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 767px) {
  header .toggle_menu {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .toggle_menu {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header .toggle_menu {
    display: none;
  }
}

@media (min-width: 1199px) {
  header .toggle_menu {
    display: none;
  }
}

header .toggle_menu .btn_toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50px;
  padding: 4px 3px;
}

header .toggle_menu .btn_toggle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 2px;
  background-color: #ff014f;
  margin-bottom: 4px;
  padding: 3px;
  cursor: pointer;
}

.About_content {
  width: 1200px;
  max-width: 100%;
  margin: 140px auto 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .8fr .8fr;
      grid-template-columns: .8fr .8fr;
  -ms-grid-rows: 2fr .5fr;
      grid-template-rows: 2fr .5fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 40px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .About_content {
    -ms-grid-columns: .9fr;
        grid-template-columns: .9fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .About_content {
    -ms-grid-columns: .9fr;
        grid-template-columns: .9fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
}

.About_content .img_container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .About_content .img_container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .About_content .img_container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.About_content .About_img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  border-radius: 10px;
  padding: 25px;
}

.About_content .About_img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.About_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr .5fr;
      grid-template-rows: 1fr .5fr;
  grid-gap: 40px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .About_data {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .About_data {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.About_data .About_info {
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
}

.About_data .About_info .icon_user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff014f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px 2px #ff3b77;
          box-shadow: 0px 0px 15px 2px #ff3b77;
  margin-bottom: 1.5rem;
  margin-left: 20px;
  margin-top: 20px;
}

.About_data .About_info .box-icon {
  font-size: 1rem;
}

.About_data .About_info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}

.About_data .About_info .ainmation_name {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 767px) {
  .About_data .About_info .ainmation_name {
    height: 42px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .About_data .About_info .ainmation_name {
    text-align: center;
  }
}

.About_data .About_info .ainmation_name ul {
  width: 100%;
  position: absolute;
  list-style: none;
  margin-top: 0;
  -webkit-animation: move_up 5s infinite linear;
          animation: move_up 5s infinite linear;
}

.About_data .About_info .ainmation_name ul li {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  list-style: none;
  margin-bottom: 40px;
  display: block;
  height: 40px;
  text-transform: uppercase;
  color: #ff014f;
  letter-spacing: 1.5px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .About_data .About_info .ainmation_name ul li {
    font-size: 1rem;
    text-align: center;
  }
}

.About_data .About_info p {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #7e848f;
  letter-spacing: 1px;
  font-weight: 400;
  width: 70%;
  text-align: center;
  margin: 20px auto;
}

.About_cv {
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  padding: 60px;
}

.About_cv p {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #7e848f;
}

.About_cv .down_contact {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.About_cv .down_contact p {
  margin-top: 40px;
  width: 45%;
  height: 60px;
  background-color: #141414;
  color: #ff014f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  cursor: pointer;
  -webkit-perspective: 400;
          perspective: 400;
}

.About_cv .down_contact p a {
  color: #ff014f;
  text-decoration: none;
}

.About_cv .down_contact p:hover {
  background-color: #000;
}

@-webkit-keyframes move_up {
  0%,
  100% {
    -webkit-transform: transition3d(0, -20px, 0);
            transform: transition3d(0, -20px, 0);
  }
  20%,
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  20%,
  50% {
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
  }
  75%,
  90% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes move_up {
  0%,
  100% {
    -webkit-transform: transition3d(0, -20px, 0);
            transform: transition3d(0, -20px, 0);
  }
  20%,
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  20%,
  50% {
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
  }
  75%,
  90% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.skills_content {
  width: 1200px;
  height: 800px;
  max-width: 100%;
  margin: -130px auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "head head head" "html css javascript" "ss bootstrap github";
  grid-gap: 6rem;
  padding: 0 40px;
}

@media (max-width: 767px) {
  .skills_content {
    margin: 30px auto;
    -ms-grid-columns: .9fr;
        grid-template-columns: .9fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
        grid-template-areas: "head" "html" "css" "javascript" "ss" "bootstrap" "github";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .skills_content {
    margin: 30px auto;
    -ms-grid-columns: .7fr;
        grid-template-columns: .7fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
        grid-template-areas: "head" "html" "css" "javascript" "ss" "bootstrap" "github";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills_content .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  color: #9da6b2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-shadow: 0px -4px 1px black, 1px 2px 0px #000;
  text-transform: uppercase;
  letter-spacing: 9.3px;
}

.skills_content .title span {
  color: #c90a45;
}

.skill_html {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: html;
}

.skill_css {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: css;
  padding: 44px 7px 30px;
  text-align: center;
  font-size: 20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill_css .title_skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill_css .title_skill h2 {
  color: #7e848f;
  font-size: 31px;
  margin-top: -27px;
  margin-left: 15px;
  text-transform: uppercase;
}

.skill_css .title_skill p {
  display: inline-block;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c90a45;
  margin-top: -30px;
}

.skill_css .circuler {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding-top: -20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  border-radius: 100%;
}

.skill_css .circuler .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 100%;
  margin: -40px 0 0 -40px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.skill_css .circuler .inner .num,
.skill_css .circuler .inner .num1,
.skill_css .circuler .inner .num2,
.skill_css .circuler .inner .num3,
.skill_css .circuler .inner .num4,
.skill_css .circuler .inner .num5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  color: #ff014f;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.skill_css .circuler .bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  clip: rect(0, 100px, 100px, 50px);
}

.skill_css .circuler .bar .progress {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background-color: #ff014f;
}

.skill_css .circuler .left .progress {
  z-index: 3;
  -webkit-animation: left 3.7s linear both;
          animation: left 3.7s linear both;
}

.skill_css .circuler .right {
  z-index: 1;
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}

.skill_css .circuler .right .progress {
  -webkit-animation: right 3.7s linear both;
          animation: right 3.7s linear both;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.skill_js {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: javascript;
  padding: 44px 7px 20px;
  text-align: center;
  font-size: 20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill_js .title_skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill_js .title_skill h2 {
  color: #7e848f;
  font-size: 31px;
  margin-top: -27px;
  margin-left: 15px;
  text-transform: uppercase;
}

.skill_js .title_skill p {
  display: inline-block;
  font-size: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c90a45;
  margin-top: -30px;
}

.skill_js .circuler {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding-top: -20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  border-radius: 100%;
}

.skill_js .circuler .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 100%;
  margin: -40px 0 0 -40px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.skill_js .circuler .inner .num,
.skill_js .circuler .inner .num1,
.skill_js .circuler .inner .num2,
.skill_js .circuler .inner .num3,
.skill_js .circuler .inner .num4,
.skill_js .circuler .inner .num5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  color: #ff014f;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.skill_js .circuler .bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  clip: rect(0, 100px, 100px, 50px);
}

.skill_js .circuler .bar .progress {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background-color: #ff014f;
}

.skill_js .circuler .left .progress {
  z-index: 3;
  -webkit-animation: left 3.7s linear both;
          animation: left 3.7s linear both;
}

.skill_js .circuler .right {
  z-index: 1;
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}

.skill_js .circuler .right .progress {
  -webkit-animation: right 3.7s linear both;
          animation: right 3.7s linear both;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.skill_sass {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ss;
}

.skill_BS {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: bootstrap;
}

.skill_Gh {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: github;
  padding: 44px 7px 20px;
  text-align: center;
  font-size: 20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill_Gh .title_skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill_Gh .title_skill h2 {
  color: #7e848f;
  font-size: 31px;
  margin-top: -27px;
  margin-left: 15px;
  text-transform: uppercase;
}

.skill_Gh .title_skill p {
  display: inline-block;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c90a45;
  margin-top: -30px;
}

.skill_Gh .circuler {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding-top: -20px;
  -webkit-box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
          box-shadow: 1px -1px 6px #000, -1px -1px 6px #000;
  border-radius: 100%;
}

.skill_Gh .circuler .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 100%;
  margin: -40px 0 0 -40px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.skill_Gh .circuler .inner .num,
.skill_Gh .circuler .inner .num1,
.skill_Gh .circuler .inner .num2,
.skill_Gh .circuler .inner .num3,
.skill_Gh .circuler .inner .num4,
.skill_Gh .circuler .inner .num5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  color: #ff014f;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.skill_Gh .circuler .bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  clip: rect(0, 100px, 100px, 50px);
}

.skill_Gh .circuler .bar .progress {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background-color: #ff014f;
}

.skill_Gh .circuler .left .progress {
  z-index: 3;
  -webkit-animation: left 3.7s linear both;
          animation: left 3.7s linear both;
}

.skill_Gh .circuler .right {
  z-index: 1;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.skill_Gh .circuler .right .progress {
  -webkit-animation: right 3.7s linear both;
          animation: right 3.7s linear both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes left {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes left {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes right {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes right {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/*# sourceMappingURL=main.css.map */